<div class="pt-5 top-hero-wrapper ">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6 mt-5">
      <h1 class="mt-5 text-center">新規会員登録</h1>
      <div class="row">
        <div class="col-8 mx-auto">
          <%= render 'form', user: @user %>
          
          <%= link_to 'Back', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
