<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-gray">U-dy</h1>
    <h4 class="text-gray">会社が良くなる勤怠管理。</h4>
    <div class="row">
      <%= link_to '会社登録', new_company_path, class: 'btn-gray' %>
      <%= link_to '新規会員登録', new_user_path, class: 'btn-gray' %>
      <%= link_to "ログイン", login_path ,class: "btn-gray" %>
      </div>
    </div>
  </div>
</div>