<p id="notice"><%= notice %></p>

<div class="top-hero-wrapper">
  <div class="container text-compile-container">
    <h1 class="text-gray">会社登録完了しました。</h1>
    <%= link_to "新規会員登録へ", new_user_path %> |
    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %> |
  </div>
</div>


