h1, h2 {
  font-weight: 400;
}

.text-gray {
  color: #696969;
}

.btn-gray {
  color: #696969;
  border: 1px solid #696969;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
      padding: 10px;
    border-radius: 10px;
    width: 31%;
    margin: 1%;

  &:hover {
    color: #fff;
  }
}
.bg-coffee {
  background-image: url('coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #808080;
}
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #808080;
}

.top-hero-container {
  width: 40%;
    min-width: 500px;
    position: absolute;
    top: 0px;
    right: 100px;

  padding-top: 220px;
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form_alone {
  margin-top: 10px; 
  left: 145px;
}


.user-new-container {
  position: relative;
  top: 20px;
  left: 150px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}
.btn-compile {
  margin-top : 15px;
}

.login-new-container {
  position: relative;
  top: 150px;
  left: 300px;
}
.text-compile-container {
  position: relative;
  top: 250px;
  left: 700px;
  right: 0px;
}

/*
 *= require font-awesome
 */
.attend-top-wrapper {
  background-image: url("wood.png");
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
    height: 100vh;
}
.btn-warning {
  margin: 20px;
}
.form-control {
    border-style: none;
    background: rgba(255,255,255,.5);
    border-radius: 100px;
    padding: 10px;
    display: block;
    
    &:hover {
      background: rgba(0,0,0,.5);
    }
}
.menu-var {
  position: absolute;
  right: 30px;
}
.toggle span {
   
   display: block;
   width: 30px;
   height: 4px;
   border-radius: 100px;
   background: #fff;
   margin-bottom: 4px
   
}
          
.menu {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 99999;
  display: none;
  width: 10%;
  height: 40%;
  background: rgba(0,0,0,.5);
}
.inside-menu {
  list-style: none;
  
}