h1, h2 {
  font-weight: 400;
}

.text-gray {
  color: #696969;
}

.btn-gray {
  color: #696969;
  border: 1px solid #696969;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
      padding: 10px;
    border-radius: 10px;
    width: 31%;
    margin: 1%;

  &:hover {
    color: #fff;
  }
}
.bg-coffee {
  background-image: url('coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #808080;
}
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #808080;
}

.top-hero-container {
  width: 40%;
    min-width: 500px;
    position: absolute;
    top: 0px;
    right: 100px;

  padding-top: 220px;
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form_alone {
  margin-top: 10px; 
  left: 145px;
}


.user-new-container {
  position: relative;
  top: 20px;
  left: 150px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.navbar-transparent {
  margin-bottom: 0px;
 
  a {
    color: #fff;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}
.btn-compile {
  margin-top : 15px;
}

.login-new-container {
  position: relative;
  top: 150px;
  left: 300px;
}
.text-compile-container {
  position: relative;
  top: 250px;
  left: 700px;
  right: 0px;
}

/*
 *= require font-awesome
 */
.attend-top-wrapper {
  background-image: url("wood.png");
  background-position: relative;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}
.btn-success {
  margin: 20px;
  border-radius: 100px;
}
.form-control {
    border-style: none;
    background: rgba(255,255,255,.5);
    border-radius: 100px;
    padding: 10px;
    display: block;
    
    &:hover {
      background: rgba(0,0,0,.5);
    }
}
.menu-var {
  position: absolute;
  top: 30px;
  right: 40px;
}
.toggle span {
   
   display: block;
   transition: all .4s;
   width: 50px;
   height: 5px;
   border-radius: 100px;
   background: #fff;
   
   margin-bottom: 10px
}

.menu {
  position: fixed;
  right: 0;
  display: none;
  width: 8%;
  height: 100%;
  background: rgba(250, 250, 250, 0.7);
}
.menu.active {
  right: 0;
}
.text-menu {
  position: absolute;
  top: 80px;
}

.text-shadow {
  font-weight: bold;
  color: #696969;
  
  &:hover {
    text-shadow: 5px 5px 1px #999999;
  }
}


.card {
  margin-top: 20px;
  background: rgba(250, 250, 250, 0.7);
}

.text-attend {
  display: inline-block;
  color: #696969;
  font-weight: bold;
  padding-left: 18px;
  background-color: transparent;
}
.realtime {
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 320px;
}